:root {
    --dark-green: rgb(0 150 136);
    --light-green: rgb(213 249 186);
    --grey: rgb(218 219 211);
    --light-grey: rgb(250 250 250);
    --dark-grey: rgb(177 177 177);
    --bar-color: rgb(243 238 234);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* utility */

.flex {
    display: flex;
}

.flex-ac {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* main-block */

.main-block {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* left-block */

.left-block {
    width: 30%;
}

@media screen and (max-width: 991px) {
    .left-block {
        width: 10%;
    }
}

@media screen and (max-width: 540px) {
    .left-block {
        display: none;
    }
}

/* left-bar */

.left-bar {
    height: 80px;
    padding: 1rem .5rem;
    background-color: var(--bar-color);
}

.left-widget {
    width: 90%;
    justify-content: end;
    font-size: 2rem;
    color: var(--dark-grey);
    gap: 2rem;
    margin-right: 1.5rem;
}

.pp {
    width: 20%;
    /* padding: 1rem 0; */
}

.pp img {
    display: block;
    border-radius: 50%;
    padding: .5rem;
}

@media screen and (max-width: 991px) {
    .left-widget {
        display: none;
    }

    .pp {
        width: 100%;
    }
}

/* right-block */

.right-block {
    width: 70%;
}

@media screen and (max-width: 991px) {
    .right-block {
        width: 90%;
    }
}