:root {
    --dark-green: rgb(0 150 136);
    --light-green: rgb(213 249 186);
    --grey: rgb(218 219 211);
    --light-grey: rgb(250 250 250);
    --dark-grey: rgb(177 177 177);
    --bar-color: rgb(243 238 234);
    --blue: rgb(142 218 252);
    --light-blue: rgb(242 251 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

/* utility */

.flex {
    display: flex;
}

.flex-ac {
    align-items: center;
}

.column {
    flex-direction: column;
}

.fs {
    font-size: 1.2rem;
}

.grey {
    color: rgb(114, 114, 114);
}

.pb-1 {
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pb-05 {
    padding-bottom: .5rem;
}

/* main-block */

.main-block {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* left-block */

.left-block {
    width: 30%;
}

@media screen and (max-width: 991px) {
    .left-block {
        width: 10%;
    }
}

@media screen and (max-width: 540px) {
    .left-block {
        display: none;
    }
}

/* left-bar */

.left-bar {
    height: 80px;
    padding: 1rem .5rem;
    background-color: var(--bar-color);
}

.left-widget {
    width: 90%;
    justify-content: end;
    font-size: 2rem;
    color: var(--dark-grey);
    gap: 2rem;
    margin-right: 1.5rem;
}

.pp {
    width: 20%;
}

.pp img {
    display: block;
    border-radius: 50%;
    background-size: contain;
    padding: .5rem;
}

@media screen and (max-width: 991px) {
    .left-widget {
        display: none;
    }

    .pp {
        width: 100%;
    }
}

/* notification */

.notification {
    height: 100px;
    padding: 1.5rem 1rem;
    background-color: var(--blue);
}

.notification-icon {
    width: 20%;
}

.circle {
    font-size: 1.5rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--light-blue);
    line-height: 60px;
    text-align: center;
    color: var(--blue);
}

@media screen and (max-width: 991px) {
    .notification {
        display: none;
    }
}

/* search */



/* right-block */

.right-block {
    width: 70%;
}

@media screen and (max-width: 991px) {
    .right-block {
        width: 90%;
    }
}