:root {
    --dark-green: rgb(0 150 136);
    --light-green: rgb(213 249 186);
    --grey: rgb(218 219 211);
    --light-grey: rgb(250 250 250);
    --dark-grey: rgb(177 177 177);
    --bar-color: rgb(243 238 234);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* main-block */

.main-block {
    background-color: rgb(186, 219, 219);
    width: 100%;
    height: 100vh;
    display: flex;
}

/* left-block */

.left-block {
    width: 30%;
}

/* right-block */

.right-block {
    width: 70%;
}
